
h1 {
  display: flex;              
  align-items: center;        
  justify-content: flex-start;
  margin-top: 20px;           
  margin-left: 20px;          
  font-size: 36px;            
  color: #333;                
}


#logo-image {
  width: 50px;               
  height: auto;               
  margin-right: 10px;        
}


body {
  padding-top: 40px;          
}
